<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>LogsServer</servlet-name>
        <servlet-class>nz.ac.vuw.swen301.assignment3.server.LogService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogsServer</servlet-name>
        <url-pattern>/logs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatsServer</servlet-name>
        <servlet-class>nz.ac.vuw.swen301.assignment3.server.StatService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatsServer</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>

</web-app>